<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <script src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/markdown-it.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/to-mark.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/tui-code-snippet.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/codemirror.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/squire.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/highlight.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/mermaid.min.js' | relative_url }}"></script>
    

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/codemirror.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/tui-editor.css' | relative_url }}">
    <!-- Style does not work well with rest of theme or highlight js styles -->
    <link rel="stylesheet" href="{{ '/assets/css/tui-editor-contents.css' | relative_url }}"> 
    <link rel="stylesheet" href="{{ '/assets/css/tui-color-picker.css' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/hljs/solarized-dark.css' | relative_url }}">
    
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <script src="{{ '/assets/js/tui-color-picker.js' | relative_url }}"></script>
      <script src="{{ '/assets/js/tui-editor-Editor.js' | relative_url }}"></script>
      <script src="{{ '/assets/js/tui-editor-extScrollSync.js' | relative_url }}"></script>
      <script src="{{ '/assets/js/tui-editor-extTable.js' | relative_url }}"></script>

      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </header>

      <div id="banner">
        <span id="logo"></span>
        <a href="{{ site.github.repository_url }}" class="button fork"><strong>View On GitHub</strong></a>
      </div>
      <!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        <div id="editSection"></div>
      </section>

      <script>
      {%- comment -%} 
      // editor
      $('#editSection').tuiEditor({
        el: document.querySelector('#editSection'),
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        initialValue: {{ page.content | jsonify }},
        height: 500,
        exts: ['scrollSync', 'colorSyntax']
      }); 
      {%- endcomment -%}

      // viewer only
      $('#editSection').tuiEditor({
        el: document.querySelector('#editSection'),
        initialValue: {{ page.content | jsonify }},
        height: 500,
        viewer: true
      });

      path = null

      if (path !== window.location.pathname) {
        path = window.location.pathname
        window.mermaid.initialize({ theme: 'default' })
        window.mermaid.init(undefined, document.querySelectorAll('.lang-mermaid'))
      }
      </script>

      <footer>
        <p><small>Theme based on leap-day by <a href="https://twitter.com/mattgraham">mattgraham</a></small></p>
      </footer>
    </div>
  </body>
</html>
